/* MEDIA QUERIES */
/* 4k 2560px Size */
@media screen and (min-width: 2560px){
/* Header */
 .header-d{
  padding: 20px 0px;
 }
 .toggler{
  top: 2%;
  right: 2.5%;
 }
/* Main */
 .main-section-div{
  margin: 281px auto;
 }
/* Primera Section */
 .article1-section1-p1{
  font-size: 34px;
 }
 .article1-section1-p2{
  font-size: 34px;
 }
 .article1-section2,
 .article2-section2,
 .article3-section2{
  width: 85%;
 }
 /* Formulario */
 .formulario_input{
  height: 50px;
  font-size: 22px;
  border: 3px solid #000;
 }
 ::placeholder{
  font-size: 18px;
 }
 .input_mensaje{
  height: 150px;
 }
 .formulario_input_error{
  font-size: 16px;
 }
 .formulario_mensaje_obligatorio{
  font-size: 22px;
 }
 .flecha-arriba{
  top: 87.2%;
 }
}
/* Laptop-L 1440px */
@media screen and (max-width: 1440px){
/* Header */
 .toggler{
  top: 2.3%;
 }
/* Main */
 .main-section-div{
  margin: 133px auto;
 }
 .logo{
  width: 500px;
  height: 275px;
 }
 .article1-section1-p1{
  font-size: 30px;
  padding: 30px 100px;
 }
/* Comentarios de Facebook */
 .li-comentario-facebook{
  padding: 25px 0px;
 }
/* Slider de Logos */
 .logo1{
  width: 65%;
  padding: 0px 0px;
 }
 .logo3, .logo6{
  width: 40%;
 }
 .logo4{
  width: 125%;
  padding: 0px 0px 0px 0px;
 }
 .logo5{
  width: 150%;
  padding: 0px 30px 0px 0px;
 }
 .logo2, .logo7, .logo8{
  width: 100%;
 }
 .logo9{
  width: 125%;
 }
 /* Formulario */
 .formulario{
  width: 50%;
 }
 .formulario_btn{
  width: 30%;
 }
 .flecha-arriba{
  top: 81.5%;
 }
}
/* Device Nest Hub Max - 1280px */
@media screen and (max-width: 1280px){
/* Toggler */
 .toggler{
  top: 2.5%;
 }
/* Main */
 .main-section-div{
  margin: 50px auto 100px;
 }
 .logo{
  width: 400px;
  height: 215px;
 }
 .article-div-textos-i h2, .article-div-textos h2{
  font-size: 56px;
 }
 /* Formulario */
 .formulario{
  width: 60%;
 }
 .flecha-arriba{
  top: 80%;
 }
}
/* Laptop 1024px */
@media screen and (max-width: 1024px){
/* Header */
 .toggler{
  top: 2.3%;
 }
/* Primera Seccion */
 .ul-iconos{
  gap: 0px;
  width: 100%;
  padding: 0px;
 }
 .article1-section1-p1{
  font-size: 27px;
  padding: 30px;
 }
 .article1-section1-p2{
  padding: 60px;
  font-size: 27px;
 }
 .change-color.black-letters{
  display: none;
 }
 .change-color.black-letters.change-color.black-letters.mediaquery1024px{
  display: inherit;
 }
 .article-div-textos-i h2,
 .article-div-textos-i p,
 .article-div-textos h2,
 .article-div-textos p{
  text-align: center;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  padding: 15px;
  margin: 150px auto 25px auto;
 }
/* Slider De Logos */
 .logo1{
  width: 100%;
  padding: 0px 0px;
 }
 .logo3, .logo6{
  width: 50%;
 }
 .logo4{
  width: 200%;
  padding: 0px 100px 0px 0px;
 }
 .logo5{
  width: 150%;
  padding: 0px 30px 0px 0px;
 }
 .logo2, .logo7, .logo8, .logo9{
  width: 125%;
 }
 /* Formulario */
 .formulario_btn{
  width: 30%;
 }
 .flecha-arriba{
  display: none;
 }
}
/* Device Surface Pro 7 - 912px */
@media screen and (max-width: 912px){
/* Header */
 .toggler{
  top: 1.5%;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 32px;
  padding: 15px 0px;
  margin: 150px auto 25px auto;
 }
 .li-comentario-facebook{
  padding: 0px;
 }
 /* Formulario */
 .formulario_btn{
  width: 40%;
 }
/* Horarios */
 .h1-horarios{
 font-size: 24px;
}
 .p-horarios{
  width: 100%;
  font-size: 24px;
 }
/* Redes */
 .contenedor{
  padding: 5px;
 }
 .contenedor .btn{
  margin: 0px;
 }
}
/* Device iPad Air - 820px */
@media screen and (max-width: 820px){
/* Header */
 .toggler{
  top: 1.7%;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 35px;
 }
 .li-comentario-facebook{
  padding: 0px;
 }
 .formulario{
  width: 70%;
 }
 .h1-horarios{
 font-size: 22px;
}
 .p-horarios{
  width: 100%;
  font-size: 22px;
 }
}
/* Device Kindle Fire HDX - 800px */
@media screen and (max-width: 800px){
/* Toggler */
 .toggler{
  top: 1.6%;
 }
}
/* Tablet - 768px */
@media screen and (max-width: 768px){
/* Header */
 .nav-bar-ul-i{
  display: none;
 }
 .toggler{
  top: 2.3%;
 }
/* Primera Seccion */
 .article1-section1-p1{
  padding: 25px;
  font-size: 24px;
  margin: auto 0px;
 }
 .article1-section1-p2{
  padding: 50px;
  font-size: 24px;
  margin: auto 0px;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 35px;
  font-weight: 400;
  padding: 15px 0px;
  margin: 150px auto 25px auto;
 }
 .li-comentario-facebook{
  padding: 0px;
 }
/* Redes */
 .contenedor{
  width: 100%;
  padding: 5px;
  text-align: center;
 }
 .contenedor .btn{
  margin: 10px;
 }
}
/* Device Galaxy Tab S4 - 712px */
@media screen and (max-width: 712px){
/* Header */
 .toggler{
  top: 1.7%;
  left: 90%;
 }
/* Primera Seccion */
 .ul-iconos{
  display: none;
 }
 .contenedor{
  padding: 0px;
 }
 .contenedor .btn{
  margin: 10px 5px;
 }
}
/* Device Microsoft Lumia 550 - 640px */
@media screen and (max-width: 640px){
/* Header */
 .toggler{
  top: 5.5%;
  left: 90.1%;
 }
 .header-nav-bar ul.header-nav-bar-ul li{
  padding: 10px;
 }
 .article-div-textos-i h2,
 .article-div-textos h2{
  font-size: 55px;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 28px;
 }
 .h1-horarios{
  font-size: 20px;
 }
 .p-horarios{
  font-size: 20px;
 }
/* Redes */
 .contenedor .btn{
  margin: 10px 0px;
 }
}
/* Device BlackBerry PlayBook - 600px */
@media screen and (max-width: 600px){
/* Header */
 .toggler{
  top: 7.8%;
  left: 90.1%;
  display: block;
 }
 .header-nav-bar ul.header-nav-bar-ul li{
  padding: 15px 10px;
 }
/* Primera Seccion */
 .change-color.black-letters{
  display: none;
 }
 .change-color.black-letters.change-color.black-letters.mediaquery1024px{
  display: inherit;
 }
 .article-div-textos-i h2, .article-div-textos-i p, .article-div-textos h2, .article-div-textos p{
  margin: auto;
  padding: 25px 5px;
  text-align: center;
 }
/* Redes */
 .contenedor{
  padding: 10px 0px;
 }
 .contenedor .btn{
  width: 95px;
  margin: 0px;
 }
 .contenedor .btn i{
  z-index: 3;
  font-size: 45px;
  line-height: 90px;
  position: relative;
  transition: 0.5s ease-in-out;
 }
 .contenedor .btn::before{
  top: 90%;
  content: "";
  left: -110%;
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  background: linear-gradient(#00c6ff, #0072ff);
 }
 .contenedor .btn:hover i{
  color: #fff;
  transform: scale(1.3);
 }
 .contenedor .btn:hover::before{
 top: -10%;
 left: -10%;
 animation: onHover 0.7s 1;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 28px;
 }
}
/* Device Surface Duo - 540px */
@media screen and (max-width: 540px){
/* Header */
 .toggler{
  top: 11%;
  left: 88.6%;
 }
/* Primera Section */
 .section-h1-1{
  width: 75%;
  font-size: 35px;
  font-weight: 400;
  margin: 0px auto;
  padding: 5px 0px;
  text-align: center;
  border-radius: 1000px;
  background: linear-gradient(orange, rgb(255, 225, 0));
 }
 .section-h1{
  width: 75%;
  font-size: 35px;
  font-weight: 400;
  margin: 0px auto;
  padding: 5px 0px;
  text-align: center;
  border-radius: 1000px;
  background: linear-gradient(orange, rgb(255, 225, 0));
 }
/* Segunda Section */
 .article-div-textos-i h2, .article-div-textos h2{
  padding: 25px;
  font-size: 45px;
 }
/* Comentarios de Facebook */
 .section-facebook-h2{
  font-size: 26px;
 }
 .formulario{
  width: 80%;
 }
/* Horarios */
 .h1-horarios, .p-horarios{
  width: 100%;
  font-size: 16px;
 }
/* Copyright */
 .contenedor .btn{
  gap: 5px;
  margin: 10px 20px;
 }
 .copyright{
  gap: 10px;
  font-size: 18px;
 }
 .diseñador-web-link{
  font-size: 18px;
 }
}
/* Device Nokia N9 - 480px x 854px */
@media screen and (max-width: 480px){
/* Header */
 .header-d{
  display: none;
 }
 .header-menu-btn{
  display: none;
 }
 .div-menu-btn{
  display: none;
 }
 .mediaquerys{
  display: block;
 }
 .toggler{
  top: 2.2%;
  left: 82.5%;
  display: block;
 }
 .menu-btn{
  left: 0%;
  top: 2.1%;
  z-index: 1;
  width: 60px;
  display: block;
  cursor: pointer;
  position: fixed;
  padding: 0px 0px 0px 25px;
  transition: transform .9s ease-in-out;
 }
 .menu-btn span{
  width: 100%;
  height: 3px;
  display: block;
  background: black;
  border-radius: 50px;
  transition: all 0.25s;
 }
 .blackmode .menu-btn span{
  background: white;
 }
 .stuffing{
  margin: 10px 0px;
 }
 .top-bun, .stuffing, .bottom-bun{
  border-radius: 50px;
 }
 .top-bun.active{
  width: 50%;
  border-radius: 50px;
  transform: rotate(-45deg) translateX(-9.5px);
 }
 .stuffing.active{
  width: 80%;
  border-radius: 50px;
  transform: translateX(-3px);
 }
 .bottom-bun.active{
  width: 50%;
  border-radius: 50px;
  transform: rotate(45deg) translateX(-9.5px);
 }
 .nav-bar ul.nav-bar-ul{
  top: 0;
  left: 0;
  opacity: .9;
  height: auto;
  padding: 0px;
  display: block;
  position: absolute;
  transform: translateX(-400px);
  background: rgba(122, 122, 255);
  transition: transform .5s ease-in-out;
 }
 .nav-bar ul.nav-bar-ul li{
  padding: 15px 10px;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(57px);
 }
 .nav-bar-a{
  width: 100%;
  color: black;
  font-size: 22px;
  font-weight: 400;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid black;
  background-color:orange;
 }
 .nav-bar-a:hover{
  color: white;
  border-radius: 0px;
  text-decoration: none;
  border: 2px solid white;
  background-color: orange;
  animation: pulsate 1s ease-in-out;
 }
/* Primera Seccion */
 .ul-iconos{
  display: none;
 }
 .section-h1-1{
  font-size: 28px;
 }
 .article1-section1-p1{
  font-size: 20px;
  margin: auto 0px;
  padding: 25px 10px;
 }
 .article1-section1-p2{
  font-size: 20px;
  margin: auto 0px;
  padding: 25px 10px;
 }
 .section-h1{
  width: 75%;
  margin: auto;
  font-size: 28px;
  font-weight: 400;
  padding: 5px 0px;
  text-align: center;
  border-radius: 1000px;
  background: linear-gradient(orange, rgb(255, 225, 0));
 }
/* Segunda Section */
 .article1-section2,
 .article2-section2,
 .article3-section2{
  gap: 0px;
  width: 100%;
  display: flex;
  margin: 0px auto;
  justify-content: center;
 }
 .article-div-textos-i, .article-div-textos{
  margin: 20px 0px;
 }
 .article-div-textos-i h2, .article-div-textos h2{
  text-shadow: 2px 2px 2px black;
 }
 .blackmode .article-div-textos-i h2, .blackmode .article-div-textos h2{
  text-shadow: 2px 2px 2px white;
 }
 .article-div-textos h2:hover, .article-div-textos-i h2:hover{
  transform: scale(1.05, 1.05);
  transition: .3s linear;
 }
 .blackmode .article-div-textos h2, .blackmode .article-div-textos-i h2{
  text-shadow: 2px 2px 2px white;
 }
 .article-div-textos-i{
  font-size: 20px;
  text-align: left;
 }
 .article-div-textos-i h2,
 .article-div-textos-i p,
 .article-div-textos h2,
 .article-div-textos p{
  margin: auto;
  padding: 25px;
 }
 .article-div-textos{
  font-size: 20px;
  text-align: right;
 }
 .article-div-textos-i h2,
 .article-div-textos h2{
  font-size: 40px;
 }
/* Slider Logos */
 hr{
  display: none;
 }
 .color-de-fondo-slider-logos{
  display: none;
 }
/* Section Facebook */
 .section-facebook-h2{
  font-size: 18px;
  margin: 0px auto 25px auto;
 }
 .color-de-fondo-comentarios-facebook{
  margin: 0px auto;
  background-color: grey;
 }
 .section-comentarios-facebook{
  width: 100%;
  overflow: hidden;
  margin: 0px auto 0px;
 }
 .ul-comentarios-facebook{
  width: 700%;
  padding: 0px;
  display: flex;
  margin: 0px auto;
  align-items: center;
 }
 .li-comentario-facebook{
  width: 100%;
  display: block;
  font-size: 20px;
  margin: 0px auto;
  padding: 5px 0px;
  list-style: none;
  text-align: center;
 }
 .li-comentario-facebook h3{
  font-size: 40px;
 }
 .li-comentario-facebook h3,
 .li-comentario-facebook p{
  padding: 15px;
  color: white;
  margin: 0px auto;
  text-shadow: 2px 2px 2px black;
 }
/* Horarios */
 .section-horarios{
  margin: auto;
  padding: 0px;
 }
 .h1-horarios{
  margin: auto;
  display: block;
  font-size: 28px;
  text-align: center;
  padding: 15px 0px 0px 0px;
 }
 .div-p-horarios{
  display: block;
 }
 .p-horarios{
  width: 100%;
  margin: auto;
  display: block;
  font-size: 15px;
  padding: 15px 0px;
  text-align: center;
 }
/* Flecha Arriba */
 .flecha-arriba{
  display: none;
 }
/* Redes */
 .contenedor{
  width: 100%;
  margin: auto;
  padding: 0px;
  text-align: center;
 }
 .contenedor .btn{
  width: 50px;
  margin: 5px;
  height: 50px;
  overflow: hidden;
  color: #43d2ff;
  position: relative;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 0 5px 15px -5px #aaa;
 }
 .contenedor .btn i{
  z-index: 3;
  font-size: 25px;
  line-height: 35px;
  position: relative;
  transition: 0.5s ease-in-out;
  color: #0069e1;
 }
 .contenedor .btn::before{
  display: none;
 }
 .contenedor .btn:hover i{
  transform: none;
 }
 .contenedor .btn:hover::before{
  top: inherit;
  left: inherit;
  animation: none;
 }
/* Copyright */
 .copyright{
  font-size: 16px;
 }
 .diseñador-web-link{
  font-size: 16px;
 }
}
/* Device Móvile L - 425px */
@media screen and (max-width: 425px){
/* Header */
 .toggler{
  top: 2.2%;
  left: 82.5%;
 }
 .menu-btn{
  top: 2.4%;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(54px);
 }
 .section-facebook-h2{
  margin: 0px;
  font-size: 28px;
 }
 .h1-horarios{
  font-size: 20px;
}
 .div-p-horarios{
  display: block;
}
.formulario{
  width: 100%;
 }
 .p-horarios{
  font-size: 14px;
}
 .contenedor .btn i{
  line-height: 40px;
 }
/* Copyright */
 .copyright{
  font-size: 14px;
 }
 .diseñador-web-link{
  font-size: 14px;
 }
}
/* Device LG Optimus L70 - 384px x 640px*/
@media screen and (max-width: 384px){
/* Header */
 .toggler{
  top: 2.7%;
  left: 82%;
 }
 .logo{
  width: 275px;
  height: 175px;
 }
 .menu-btn{
  top: 2.9%;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(56px);
 }
/* Primera Seccion */
 .section-h1-1{
  width: 100%;
  font-size: 28px;
  margin: 0px auto;
  padding: 5px 0px;
  font-weight: 400;
  text-align: center;
  border-radius: 1000px;
  background: linear-gradient(orange, rgb(255, 225, 0));
 }
 .article1-section1-p1{
  font-size: 20px;
  margin: auto 0px;
  padding: 25px 10px;
 }
 .article1-section1-p2{
  font-size: 20px;
  margin: auto 0px;
  padding: 25px 10px;
 }
 .section-h1{
  width: 100%;
  margin: auto;
  font-size: 28px;
  padding: 5px 0px;
  font-weight: 400;
  text-align: center;
  border-radius: 1000px;
  background: linear-gradient(orange, rgb(255, 225, 0));
 }
/* Segunda Section */
 .article1-section2,
 .article2-section2,
 .article3-section2{
  gap: 0px;
  width: 100%;
  display: flex;
  margin: 0px auto;
  justify-content: center;
 }
 .article-div-textos-i, .article-div-textos{
  margin: 20px 0px;
 }
 .article-div-textos-i h2, .article-div-textos h2{
  text-shadow: 2px 2px 2px black;
 }
 .blackmode .article-div-textos-i h2, .blackmode .article-div-textos h2{
  text-shadow: 2px 2px 2px white;
 }
 .article-div-textos h2:hover, .article-div-textos-i h2:hover{
  transform: scale(1.05, 1.05);
  transition: .3s linear;
 }
 .blackmode .article-div-textos h2, .blackmode .article-div-textos-i h2{
  text-shadow: 2px 2px 2px white;
 }
 .article-div-textos-i{
  font-size: 20px;
  text-align: left;
 }
 .article-div-textos-i h2,
 .article-div-textos-i p,
 .article-div-textos h2,
 .article-div-textos p{
  margin: auto;
  padding: 25px;
 }
 .article-div-textos{
  font-size: 20px;
  text-align: right;
 }
 .article-div-textos-i h2,
 .article-div-textos h2{
  font-size: 40px;
 }
/* Slider Logos */
 hr{
  display: none;
 }
 .color-de-fondo-slider-logos{
  display: none;
 }
/* Section Facebook */
 .section-facebook-h2{
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0px;
  text-align: center;
  margin: 0px auto 25px auto;
 }
 .color-de-fondo-comentarios-facebook{
  margin: 0px auto;
  background-color: grey;
 }
 .section-comentarios-facebook{
  width: 100%;
  overflow: hidden;
  margin: 0px auto 0px;
 }
 .ul-comentarios-facebook{
  width: 700%;
  padding: 0px;
  display: flex;
  margin: 0px auto;
  align-items: center;
 }
 .li-comentario-facebook{
  width: 100%;
  display: block;
  font-size: 20px;
  list-style: none;
  padding: 5px 0px;
  margin: 0px auto;
  text-align: center;
 }
 .li-comentario-facebook h3{
  font-size: 40px;
 }
 .li-comentario-facebook h3,
 .li-comentario-facebook p{
  padding: 15px;
  color: white;
  margin: 0px auto;
  text-shadow: 2px 2px 2px black;
 }
/* Horarios */
 .section-horarios{
  margin: auto;
  padding: 0px 0px 0px 0px;
 }
 .h1-horarios{
  font-size: 14px;
 }
 .p-horarios{
  font-size: 12px;
 }
/* Copyright */
 .copyright{
  gap: 5px;
  font-size: 13px;
 }
 .diseñador-web-link{
  font-size: 13px;
 }
}
/* Device Móvile M - 375px */
@media screen and (max-width: 375px){
/* Header */
 .menu-btn{
  top: 2.2%;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(56px);
 }
 .toggler{
  top: 2%;
  right: 2%;
 }
/* Primera Seccion */
 .section-h1-1, .section-h1{
  width: 75%;
 }
 .contenedor .btn{
  width: 45px;
  height: 45px;
 }
 .contenedor .btn i{
  font-size: 25px;
  line-height: 32px;
 }
}
/* BlackBerry Z30 - 360px */
@media screen and (max-width: 360px){
/* Header */
 .toggler{
  top: 2.6%;
 }
 .menu-btn{
  top: 3%;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(56px);
 }
/* Horarios */
 .h1-horarios{
  font-size: 16px;
}
 .p-horarios{
  font-size: 12px;
 }
/* Redes */
 .contenedor{
  padding: 5px 0px;
 }
 .contenedor btn{
  margin: 0px 0px;
 }
/* Copyright */
 .copyright{
  font-size: 12px;
 }
 .diseñador-web-link{
  font-size: 12px;
 }
}
/* Device Móvile S - 320px */
@media screen and (max-width: 320px){
/* Header */
 .toggler{
  top: 2%;
  left: 78%;
 }
 .menu-btn{
  top: 2.3%;
 }
 .nav-bar ul.nav-bar-ul.show{
  transform: translateY(55px);
 }
/* Horarios */
 .h1-horarios{
  font-size: 18px;
}
 .p-horarios{
  font-size: 16px;
 }
/* Social Media */
 .contenedor .btn{
  margin: 5px 0px;
 }
/* Copyright */
 .copyright{
  font-size: 11px;
 }
 .diseñador-web-link{
  font-size: 11px;
 }
}